---
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
AlwaysBreakTemplateDeclarations: 'No'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: '200'
CompactNamespaces: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
Cpp11BracedListStyle: 'true'
DerivePointerAlignment: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^("logger.h"|"hal.h")'
    Priority:        -1
  - Regex:           '^<(array|bitset|deque|forward_list|list|map|queue|set|stack|unordered_map|unordered_set|vector|algorithm|chrono|functional|iterator|memory|stdexcept|tuple|utiity|codecvt|string|regex|fstream|iomanip|ios|iosfwd|iostream|istream|ostream|sstream|streambuf|exceptions|limits|new|typeinfo|thread|mutex|condition_variable|future|complex|random|valarray|nueric|optional|type_traits|span)>$'
    Priority:        1000
  - Regex:           '^<c?(assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|threads|time|uchar|wchar|wctype)(\.h)?'
    Priority:        1000
  - Regex:           '^".*'
    Priority:        20
  - Regex:           '^<.*'
    Priority:        30
  
IndentCaseLabels: 'true'
IndentPPDirectives: AfterHash
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: All
PenaltyBreakAssignment: '10000'
PenaltyBreakBeforeFirstCallParameter: '1000'
PenaltyBreakComment: '50'
PenaltyBreakFirstLessLess: '1000'
PenaltyBreakString: '1000'
PenaltyBreakTemplateDeclaration: '1000'
PenaltyExcessCharacter: '10'
PenaltyReturnTypeOnItsOwnLine: '10000000'
PointerAlignment: Left
ReflowComments: 'true'
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'false'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Auto
UseTab: Never

...
